#!/bin/bash
# Codex CLI notification hook
# Usage: notify.sh "message"

MESSAGE="${1:-Codex: タスクが完了しました。}"

{{ if eq .chezmoi.os "darwin" -}}
osascript -e "display notification \"$MESSAGE\" with title \"Codex\"" &
{{ else if eq .chezmoi.os "windows" -}}
powershell.exe -NoProfile -Command "
[Windows.UI.Notifications.ToastNotificationManager, Windows.UI.Notifications, ContentType = WindowsRuntime] | Out-Null
[Windows.Data.Xml.Dom.XmlDocument, Windows.Data.Xml.Dom, ContentType = WindowsRuntime] | Out-Null
\$xml = [Windows.Data.Xml.Dom.XmlDocument]::new()
\$xml.LoadXml('<toast><visual><binding template=\"ToastText02\"><text id=\"1\">Codex</text><text id=\"2\">$MESSAGE</text></binding></visual><audio src=\"ms-winsoundevent:Notification.Default\"/></toast>')
[Windows.UI.Notifications.ToastNotificationManager]::CreateToastNotifier('Codex').Show([Windows.UI.Notifications.ToastNotification]::new(\$xml))
" &
{{ else -}}
printf '\a'
{{ end -}}

exit 0
